<!DOCTYPE html>
<html>
  <head>
    <title>Secret Android</title>
  </head>
  <body>
    <div id="lobby">
      <h2>Secret Android</h2>
      <form id="new-game" method="POST">
        <p>To start a new game enter all player names below and click "Start".</p>
        <label>Players:</label><br>
        <input type="text" id="player1" name="player1"><br>
        <input type="text" id="player2" name="player2"><br>
        <input type="text" id="player3" name="player3"><br>
        <input type="text" id="player4" name="player4"><br>
        <input type="text" id="player5" name="player5"><br>
        <input type="text" id="player6" name="player6"><br>
        <input type="text" id="player7" name="player7"><br>
        <input type="text" id="player8" name="player8"><br>
        <input type="text" id="player9" name="player9"><br>
        <input type="text" id="player10" name="player10"><br><br>
        <input type="submit" value="Start!">
      </form> 
    </div>
  <script>
  </script>
  </body>
</html> 